@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background-color: #ecf1fd;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  margin: 0 1rem;
  color: darkslategray;
}

nav a:hover {
  color: black;
}

header .nav-btn {
  padding: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  visibility: hidden;
  opacity: 0;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: teal;
    transform: translateY(-100vh);
    transition: 1s;
  }

  header .show {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ecf1fd;
  }

  nav a {
    font-size: 1.6rem;
    color: #ecf1fd;
  }
}

.App {
  background-color: #ecf1fd;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.opening {
  height: 90vh;
  display: flex;
  background-color: #ecf1fd;
  margin: auto;
}

/* .appbar {
  display: flex;
  padding: 0px 10%;
  height: 10vh;
  background-color: #ecf1fd;
  color: darkslategray;
} */

.menuitems ul {
  display: flex;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  margin: auto;
}

li {
  padding: 0px 20px;
  margin: auto;
}

.introimage {
  width: 500px;
  height: 700px;
  object-fit: cover;
}
