@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.App {
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
}

.opening {
  height: 90vh;
  display: flex;
  background-color: #61dafb;
}

.appbar ul {
  display: flex;
  list-style: none;
  margin: 0px;
  /* padding: 0 10px; */
  height: 10vh;
  background-color: aqua;
  color: darkslategray;
}

li {
  padding: 20px;
}
