@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

.App {
  background-color: #ecf1fd;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
}

.opening {
  height: 90vh;
  display: flex;
  background-color: #ecf1fd;
  margin: auto;
}

.appbar {
  display: flex;
  padding: 0px 10%;
  height: 10vh;
  background-color: #ecf1fd;
  color: darkslategray;
}

.menuitems ul {
  display: flex;
  list-style: none;
  font-size: larger;
  font-weight: bold;
  margin: auto;
}

li {
  padding: 0px 20px;
  margin: auto;
}

.introimage {
  width: 500px;
  height: 700px;
  object-fit: cover;
}
